<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="resumeSummary">
      <h2 data-cy="resumeSummaryDetailsHeading"><span jhiTranslate="resumeApp.resumeSummary.detail.title">Resume Summary</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ resumeSummary.id }}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.resumeSummary.summaryName">Summary Name</span></dt>
        <dd>
          <span>{{ resumeSummary.summaryName }}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.resumeSummary.summaryOrder">Summary Order</span></dt>
        <dd>
          <span>{{ resumeSummary.summaryOrder }}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.resumeSummary.resumeSoftware">Resume Software</span></dt>
        <dd>
          <div *ngIf="resumeSummary.resumeSoftware">
            <a [routerLink]="['/resume-software', resumeSummary.resumeSoftware?.id, 'view']">{{ resumeSummary.resumeSoftware?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/resume-summary', resumeSummary.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
